html {
    font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}