.form {
  width: 50rem;
  min-width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem 0;
}
.form__title {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}
.form__select {
  padding: 2rem 2rem;
  outline: none;
  border: none;
  background-color: #c4c4c4;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
select option {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
